@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#player-stats-widget {
  --widget-background: #fff;
  --color-pink: #e90052;
  --color-grey: #eaeaea;
  --color-purple: #38003c;
  --font-family: "Montserrat", sans-serif;
  --margin: 1rem;
  --margin-sm: 0.25rem;
  --margin-md: 0.5rem;
  --margin-lg: 0.75rem;
  --padding: 1rem;
  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 0.75rem;
  background: url("/assets/img/bg.png");
  background-position-x: right;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  width: 100%;
  max-width: 400px;
  min-width: 275px;
  height: 100%;
  min-height: 600px;
  border: 1px solid var(--color-grey);
  display: flex;
  flex-flow: column;
  color: #fff;
}
#player-stats-widget h2,
#player-stats-widget h3 {
  margin-bottom: var(--margin-md);
  font-weight: 500;
}
#player-stats-widget .select-player-wrapper {
  width: 100%;
  display: flex;
  align-content: center;
}
#player-stats-widget .select-player-wrapper select {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
  padding: 0 var(--padding);
  width: 90%;
  margin: var(--margin) auto;
  height: 40px;
  background-color: var(--color-grey);
  border: hidden;
  appearance: none;
  background-image: url(/assets/img/dropdown.png);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
#player-stats-widget .player-img {
  margin: 0 var(--margin);
  height: 275px;
}
#player-stats-widget .player-stats-wrapper {
  background: var(--color-pink);
  min-height: 275px;
  height: 100%;
  position: relative;
  padding: var(--padding);
}
#player-stats-widget .player-stats-wrapper .club-badge-wrapper {
  position: absolute;
  background: var(--widget-background);
  border-radius: 50%;
  right: 30px;
  top: -50px;
}
#player-stats-widget .player-stats-wrapper .club-badge-wrapper .badge {
  background: url(/assets/img/player-stats-widget/img/badges_sprite.png);
  width: 100px;
  height: 100px;
  background-size: 1200%;
  background-position: -500px -1000px;
  margin: auto;
  border-radius: 25%;
  transform: scale(0.8);
}
#player-stats-widget .player-stats-wrapper .player-stats {
  margin: var(--margin-lg) 0;
}
#player-stats-widget .player-stats-wrapper .player-stats ul {
  list-style: none;
  margin: var(--margin-sm) 0;
}
#player-stats-widget .player-stats-wrapper .player-stats ul li {
  background: var(--color-grey);
  padding: var(--padding-lg);
  display: flex;
  justify-content: space-between;
  color: var(--color-purple);
  margin-bottom: var(--margin-sm);
  box-shadow: 0px 0px 20px 1px #38003c54;
  border-radius: 1px;
}
#player-stats-widget .player-stats-wrapper .player-stats ul li .value {
  font-weight: 700;
}